
th, td{
      padding: 15px;
}
/*nav*/
ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 200px;
      background-color: rgb(107, 107, 107);
}
    
li a {
      display: block;
      color: rgb(255, 249, 249);
      padding: 8px 16px;
      text-decoration: none;
}
    
li a:hover {
      background-color: gold;
      color: black;
}
/*al*/
.gallery {
      margin: 5px;
      border: px solid #ccc;
      float: left;
      width: 200px;
}
    
.gallery:hover {
      border: 1px solid #777;
      width: 300px;
}
    
.gallery img {
      width: 100%;
      height: auto;
}
    
.desc {
      padding: 15px;
      text-align: center;
}